public/.node-red/flows.json
[{"id":"456b53cbfaf62b7f","type":"tab","label":"流程 1","disabled":false,"info":"","env":[]},{"id":"474fe70f8b7bf1f4","type":"inject","z":"456b53cbfaf62b7f","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":100,"wires":[["8285bdd4040978ea"]]},{"id":"5c696f32563b4d38","type":"debug","z":"456b53cbfaf62b7f","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":380,"y":120,"wires":[]},{"id":"8285bdd4040978ea","type":"function","z":"456b53cbfaf62b7f","name":"function 1","func":"msg.payload = dayjs(msg.payload).format('YYYY-MM-DD HH:mm:ss bingo')\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[{"var":"dayjs","module":"dayjs"}],"x":220,"y":200,"wires":[["5c696f32563b4d38"]]}]